[Desktop Entry]
Name=DiskRaptor
Comment=Ultra-fast disk space analyzer
Exec=/usr/bin/DiskRaptor.sh
Icon=diskraptor
Terminal=false
Type=Application
Categories=Utility;FileTools;
